@mixin box {
    border-radius: 4px;
    border: 1px solid $post-border;
    background-color: white;
}

@mixin overlay {
    position: fixed;
    width: 850px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin footer {
    margin-top: auto;
    padding: 1em 1.5em;
    border-top: 1px solid hsla(195, 2%, 65%, 0.36);
    background-color: $grey;
    display: flex;
}
