$bodybg: #dae0e6;
$blue: #2784d6;
$grey: #f6f7f8;
$midgrey: #edeff1;
$darkgrey: #878a8c;

$post-border: #ccc;
$post-hover: #898989;
$votebg-hover: rgba(26, 26, 27, 0.1);
$upvote-hover: #cc3700;
$downvote-hover: #5a75cc;
$meta: rgb(120, 124, 126); // Used for Posted by username

$sort-btn-hover: #dbdbdb;

$transparent: rgba(255, 255, 255, 0.8); // Used for left side of posts

$error: #ea0027;
