.auth-container {
    @include box;
    @include overlay;
    display: flex;

    &__image {
        height: 100%;
        width: 131px;
        object-fit: cover;
    }

    &__main {
        padding-left: 1em;
        width: 35%;
    }

    &__title {
        font-weight: 700;
        margin-top: 100px;
        margin-bottom: 0.75em;
    }

    &__subtitle {
        font-size: 0.75rem;

        &--margin {
            margin-top: 1em;
        }
    }

    &__midtitle {
        font-size: 0.875rem;
        margin-top: 2em;
    }

    form {
        margin-top: 1.5em;
    }

    .btn {
        width: 100%;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.6rem;
    color: $darkgrey;
}

.input {
    // A div, not input. Contains input
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fcfcfb;
    width: 100%;
    margin-bottom: 0.75em;
    display: flex;
    align-items: center;

    input {
        border: 0;
        width: 100%;
        height: 100%;
        padding: 20px 12px;
        background-color: #fcfcfb;

        &::placeholder {
            font-weight: 700;
            font-size: 0.6rem;
        }
    }

    i {
        margin-left: auto;
        margin-right: 1em;
        font-size: 0.75rem;
    }

    &--good {
        // If email is valid and unique
        border-color: $blue;

        i {
            color: $blue;
        }
    }

    &--bad {
        // If email is not valid or not unique
        border-color: $error;
        margin-bottom: 0; // As error text has margin

        i {
            color: $error;
        }
    }
}

.error-text {
    color: $error;
    font-size: 0.65rem;
    margin-top: 0.25em;
    font-weight: 700;
    margin-bottom: 0.75em;
}

.sign-up-2 {
    @include box;
    @include overlay;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 1.5em 1.5em 0;
        border-bottom: 1px solid hsla(195, 2%, 65%, 0.36);
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.25em;
    }

    &__subtitle {
        font-size: 0.875rem;
        margin-bottom: 1em;
        padding-right: 3em; // So not too close to 'X' button
    }

    form {
        padding: 1.5em;
        width: 50%;

        button {
            position: absolute;
            bottom: 1.2em;
            right: 1.5em;
        }
    }

    &__footer {
        @include footer;
    }
}

.sign-up-3 {
    @include box;
    @include overlay;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 1.5em 1.5em 0;
        border-bottom: 1px solid hsla(195, 2%, 65%, 0.36);
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.25em;
    }

    &__subtitle {
        font-size: 0.875rem;
        padding-right: 3em; // So not too close to 'X' button

        &:last-of-type {
            margin-bottom: 1em;
        }
    }

    &__main {
        flex: 1;
        display: flex;
    }

    &__footer {
        @include footer;

        button {
            margin-left: auto;
        }
    }
}

.su-topics-list {
    // In SignUp3
    height: 530px;
    overflow: auto;
    flex: 4;

    .topic {
        padding: 1em;
        display: flex;
        align-items: center;

        i {
            font-size: 1.4rem;
            margin-right: 0.5em;
        }

        &__text {
            p:first-of-type {
                font-weight: 700;
                margin-bottom: -0.25em;
            }

            p:nth-of-type(2) {
                font-size: 0.875rem;
            }
        }

        &--selected {
            background-color: rgba($blue, 0.05);
            border-left: 5px solid $blue;

            p {
                color: $blue;
            }
        }
    }
}

.su-subs-list {
    // Also in SignUp3
    padding: 0 1em;
    background-color: #f8fbfd;
    height: 530px;
    overflow: auto;
    flex: 11;

    .sub {
        padding: 1em;
        display: flex;
        background-color: #f8fbfd;
        border-bottom: 1px solid darken($grey, 7%);

        &__image {
            height: 45px;
            width: 45px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid darken($grey, 7%);
            margin-right: 1em;
        }

        &__text {
            max-width: 400px;
        }

        &__header {
            display: flex;
            align-items: center;
        }

        &__title {
            font-weight: 700;
            margin-right: 0.75em;
        }

        &__members {
            color: $darkgrey;
            font-size: 0.875rem;
        }

        &__desc {
            font-size: 0.875rem;
        }

        .btn {
            margin-left: auto;
            width: 120px;
            align-self: center;
        }
    }
}
