.home-box {
    @include box;

    &__banner {
        background-image: url("../img/home-box-banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 34px;
        border-radius: 4px 4px 0 0;
        margin-bottom: -1em;
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 0 1em;
        margin-bottom: 1em;

        img {
            height: 70px;
            object-fit: cover;
            margin-right: 1em;
        }

        p {
            position: relative;
            top: 14px;
            font-weight: 700;
        }
    }

    &__body {
        padding: 0 0.75em;
        font-size: 0.875rem;
        margin-bottom: 1em;
    }

    .btn {
        margin: 0 0.75em;
        width: calc(100% - 1.5em);
        margin-bottom: 0.75em;
    }
}
